$background : #fff; 
$shadow : 0 5px 5px 0 #333;
$border-titulo : 15px solid #000;
$height : 7.5vh;

*{
    text-decoration: none ; 
    font-size: 30px;
    font-family: 'Big Shoulders Display', cursive;
}

nav{
    margin: -12px 0 20px;
    height: 15vh;
    
    .container--menu{
        background-color: #fff;
        box-shadow: 0 5px 5px 0 #333;
        margin-top: auto;
    }
    .container--titulo{
        width: 100%;
        border: 15px solid #000;
        border-radius: 20px;
        padding: 0 20px;
        border-top: none;
        border-bottom: none;
        text-align: center;
    }
    .navbar-nav{
        margin-left: auto;
    }
    .nav-link{
        font-size: 1.3rem;
    }
    a.nav-link{
        /* color:#fff; */
        /* background-color: black; */
        z-index: 10;
    }
    
}
body{
    background: linear-gradient(#fff ,  #000);
}


.container--index{
    height: 70%;
    width: 100%;
    .container__div--slider{
        margin-top: 3%; 
        height: 20rem ;
         width: 90% ;
         margin: 1% auto;
        box-shadow: 0 5px 5px 0 #444;
        .carousel-inner{
            width: 100%;
            height: 100%;
            .img-crs{
                width: 100%;
                height: 20rem;
                }
        }
        
    }
}   
    


/* SECCION LANZAMIENTOS INDEX */

        
    .container--noticias{
        margin-top: 15px;
        /* height: 70vh; */
        /* background-color: #fff; */
       
            // TITULO NOTICIA
        .container__div--titulo{
            margin:  2% auto 1% auto;
            width: 80%;
            background: #aaa;
            /* border: 2px solid #fff; */
            box-shadow: 0px 5px 5px 0 #444;
            
            .div__titulo--noticias{
                font-size: 1.5rem;
                padding: 5px;
                color: #000;
            }
        }
    }
        // COMIENZA DIV NOTICIAS
        .container__div--noticias{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            width: 100%;
            /* background-color: #ddd; */
            border-radius: 5px;
            

            .div__item--noticia{
                margin: 1% 1% 2% 1%;
                width: 325px;
                /* min-width: 300px; */
                height: 20%;
                /* min-height: 400px; */
                color: #000;
                box-shadow: 0 5px 5px 0 #000;
                border-radius:5px ;
              background-color: #aaa ;

                .container__div--imagen{
                    width: 100%;
                    height: 70%;
                    border-radius: 5px;
                    
                    
                    .foto-noticia{
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }
                .div__titulo--noticia{
                    text-align: center;
                }
                .div__texto--noticias{
                    font-size: 0.8rem;
                    text-align: center;
                    color: #222;
                }
            }
        }
    
    // TERMINA DIV NOTICIAS
    
/* FOOTER */
footer{
    margin-top: 5%;
    height: 40vh;
    // background-color: #000; 

    .container__titulo--3{
        color: #fff;
    }

    .container__div--redes{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        height: 10%;
        width: 100%;

        .div__item--redes{
            width: 6%;
            height: 6%;
            margin: 5% 8% 0;
            /* background-color: #000; */
            transition: 0.4s;

            .logo-redes{
                width: 100%;
                height: 100%;
                transition: 0.7s;
            }
            .logo-redes:hover{
                transform: scale(1.3);
            }
        }
    }
}
    
// TERMINA FOOTER

// @import "responsive";

// RESPONSIVE
@media only screen and (max-width:321px){
    
    nav{
        margin: -12px 0 20px;
        height: 15vh;
        
        .container--menu{
            background-color: #fff;
            box-shadow: 0 5px 5px 0 #333;
            margin-top: auto;
        }
        .container--titulo{
            max-width: 300px ;
            min-width: 200px;
            border: 15px solid #000;
            border-radius: 20px;
            margin: 0 3%;
            padding: 0 20px;
            border-top: none;
            border-bottom: none;
            text-align: center;
        }
        button.navbar-toggler{
            width: 30%;
            height: 30%;
            margin: -0.3rem auto 0.5rem auto;

            span.navbar-toggler-icon{
                margin: auto -8px;
            }
        }
        .navbar-collapse{
            z-index: 100;
            height: 200%;
        }
      
        a.nav-link{
        background-color: #fff;
        border: 1px solid #999;
        color: #000;
        font-size: 1rem;
        z-index: 999;
        }
        
    }
   
    .container--index{
        height: 70%;
        width: 100%;
        .container__div--slider{
            margin-top: 20% !important; 
            height: 9rem ;
             width: 90% ;
             margin: 1% auto;
            box-shadow: 0 5px 5px 0 #444;
            .carousel-inner{
                width: 100%;
                height: 100%;
                .img-crs{
                    // margin-top: 30%;
                    width: 100%;
                    height: 9rem;
                    }
            }
            
        }
    }       
    /* SECCION LANZAMIENTOS INDEX */
                // TITULO NOTICIA
            
        .container--noticias{

            .container__div--titulo{
                margin:  1% auto 10% auto;
                width: 80%;
                font-size: 1rem;
                box-shadow: 0px 5px 5px 0 #444;

                .div__titulo--noticias{
                    font-size: 1rem;
                    padding: 5px;
                    color: #000;
                }
            }

            
        }
            
            // COMIENZA DIV NOTICIAS
            .container__div--noticias{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                width: 100%;
                /* background-color: #ddd; */
                border-radius: 5px;
                
    
                .div__item--noticia{
                    margin: 2% 1% 2% 1%;
                    width: 250px;
                    height: 300px;
                    color: #000;
                    box-shadow: 0 5px 5px 0 #333;
                    background-color: #aaa;
                    border-radius:5px ;
    
    
                    .div__titulo--noticia{
                        text-align: center;
                        font-size: 1rem;
                    }
                    .div__texto--noticias{
                        font-size: 0.45rem;
                        text-align: center;
                        margin-top: -10px;
                        color: #222;
                    }
                }
            }
        
        // TERMINA DIV NOTICIAS
        
    /* FOOTER */
    footer{
        height: 25vh;
        margin-top: 3%;
    
        .container__titulo--3{
            color: #fff;
        }
    
        .container__div--redes{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            height: 10%;
            width: 100%;
    
            .div__item--redes{
                width: 10%;
                height:10%;
                margin: 1% 6%;
    
                .logo-redes{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
@media(min-width:321px) and (max-width:390px)
{
    nav{
        margin: -12px 0 20px;
        height: 15vh;
        
        .container--menu{
            background-color: #fff;
            box-shadow: 0 5px 5px 0 #333;
            margin-top: auto;
        }
        .container--titulo{
            max-width: 300px ;
            min-width: 200px;
            border: 15px solid #000;
            border-radius: 20px;
            margin: 0 15%;
            padding: 0 20px;
            border-top: none;
            border-bottom: none;
            text-align: center;
        }
        button.navbar-toggler{
            width: 30%;
            height: 30%;
            margin: -0.3rem auto 0.5rem auto;

            span.navbar-toggler-icon{
                margin: auto -8px;
            }
        }
        .navbar-collapse{
            z-index: 100;
            height: 200%;
        }
      
        a.nav-link{
        background-color: #fff;
        border: 1px solid #999;
        color: #000;
        font-size: 1rem;
        z-index: 999;
        }
        
    }
   
   
    .container--index{
        height: 100%;
        width: 100%;
        .container__div--slider{
            margin-top: 16% !important; 
            height: 12rem ;
             width: 100% ;
             margin: 1% auto;
            box-shadow: 0 5px 5px 0 #444;
            .carousel-inner{
                width: 100%;
                height: 100%;
                .img-crs{
                    // margin-top: 30%;
                    width: 100%;
                    height: 12rem;
                    }
            }
            
        }
    }     
    
    /* SECCION LANZAMIENTOS INDEX */
                // TITULO NOTICIA
            
            
            // COMIENZA DIV NOTICIAS
            .container--noticias{

            .div__titulo--noticias{
                font-size: 1.2rem !important;
            }
        }
            .container__div--noticias{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                width: 100%;
                /* background-color: #ddd; */
                border-radius: 5px;
                
    
                .div__item--noticia{
                    margin: 2% 1% 2% 1%;
                    width: 285px;
                    height: 325px;
                    color: #000;
                    box-shadow: 0 5px 5px 0 #000;
                    background-color: #aaa;
                    border-radius:5px ;
    
    
                    .div__titulo--noticia{
                        text-align: center;
                        font-size: 1.2rem;
                    }
                    .div__texto--noticias{
                        font-size: 0.5rem;
                        text-align: center;
                        margin-top: -10px;
                        color: #222;
                    }
                }
            }
        
        // TERMINA DIV NOTICIAS
        
    /* FOOTER */
    footer{
        height: 25vh;
        margin-top: 3%;
    
        .container__titulo--3{
            color: #fff;
        }
    
        .container__div--redes{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            height: 10%;
            width: 100%;
    
            .div__item--redes{
                width: 10%;
                height:10%;
                margin: 1% 6%;
    
                .logo-redes{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

// // COMIENZA RESPONSIVE DESEDE 390 A 480-------
@media(min-width:390px) and (max-width:480px){

    nav{
        margin: -12px 0 20px;
        height: 15vh;
        
        .container--menu{
            background-color: #fff;
            box-shadow: 0 5px 5px 0 #333;
            margin-top: auto;
        }
        .container--titulo{
            width: 100%;
            border: 15px solid #000;
            border-radius: 20px;
            margin: 0 15%;
            padding: 0 60px;
            border-top: none;
            border-bottom: none;
            text-align: center;
        }
        button.navbar-toggler{
            width: 20%;
            height: 25%;
            margin: -0.3rem auto 0.5rem auto;

            span.navbar-toggler-icon{
                margin: auto -8px;
            }
           
            
            
        }
        .navbar-collapse{
            z-index: 100;
            height: 200%;
        }
      
        a.nav-link{
        background-color: #fff;
        border: 1px solid #999;
        color: #000;
        font-size: 1rem;
        z-index: 999;
        }
        
    }
   
    
    .container--index{
        height: 100%;
        width: 100%;
        .container__div--slider{
            margin-top: 15% !important; 
            height: 14rem ;
             width: 100% ;
             margin: 1% auto;
            box-shadow: 0 5px 5px 0 #444;
            .carousel-inner{
                width: 100%;
                height: 100%;
                .img-crs{
                    // margin-top: 30%;
                    width: 100%;
                    height: 14rem;
                    }
            }
            
        }
    }     
    
    /* SECCION LANZAMIENTOS INDEX */
                // TITULO NOTICIA
            
            
            // COMIENZA DIV NOTICIAS
            .container__div--noticias{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-evenly;
                width: 100%;
                /* background-color: #ddd; */
                border-radius: 5px;
                
    
                .div__item--noticia{
                    margin: 2% 1% 2% 1%;
                    width: 285px;
                    height: 325px;
                    color: #000;
                    box-shadow: 0 5px 5px 0 #333;
                    background-color: #aaa;
                    border-radius:5px ;
    
    
                    .div__titulo--noticia{
                        text-align: center;
                        font-size: 1.2rem;
                    }
                    .div__texto--noticias{
                        font-size: 0.5rem;
                        text-align: center;
                        margin-top: -10px;
                        color: #222;
                    }
                }
            }
        
        // TERMINA DIV NOTICIAS
        
    /* FOOTER */
    footer{
        height: 25vh;
        margin-top: 3%;
    
        .container__titulo--3{
            color: #fff;
        }
    
        .container__div--redes{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            height: 10%;
            width: 100%;
    
            .div__item--redes{
                width: 10%;
                height:10%;
                margin: 1% 6%;
    
                .logo-redes{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

}


// /*---------------- COMIENZA RESPONSIVE CON 768PX ------------------------*/
@media(min-width:481px) and (max-width:768px){
    .navbar-collapse{
        z-index: 100;
        height: 200%;
    }
    a.nav-link{
        background-color: #fff;
        border: 1px solid #999;
        color: #000;
        font-size: 1rem;
        z-index: 999;
        }
   
        .container--index{
            height: 100%;
            width: 100%;
            .container__div--slider{
                margin-top: 0% !important; 
                height: 18rem ;
                 width: 100% ;
                 margin: 1% auto;
                box-shadow: 0 5px 5px 0 #444;
                .carousel-inner{
                    width: 100%;
                    height: 100%;
                    .img-crs{
                        // margin-top: 30%;
                        width: 100%;
                        height: 18rem;
                        }
                }
                
            }
        }     
        footer{
            height: 25vh;
            margin-top: 3%;
            
            .container__titulo--3{
                color: #fff;
            }
            
            .container__div--redes{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                height: 10%;
                width: 100%;
            
                .div__item--redes{
                    width: 10%;
                    height:10%;
                    margin: 1% 6%;
            
                    .logo-redes{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
    }
   
}





/* ARRANCA RESPONNSIVE 768 - 1024 */
@media(min-width:768px) and (max-width:990px)
{
    
   
    .navbar-collapse{
        z-index: 100;
        height: 200%;
    }
    a.nav-link{
    background-color: #fff;
    border: 1px solid #999;
    color: #000;
    font-size: 1rem;
    z-index: 999;
    }   

    .container--index{
        height: 100%;
        width: 100%;
        .container__div--slider{
            margin-top: 0% !important; 
            height: 18rem ;
             width: 100% ;
             margin: 1% auto;
            box-shadow: 0 5px 5px 0 #444;
            .carousel-inner{
                width: 100%;
                height: 100%;
                .img-crs{
                    // margin-top: 30%;
                    width: 100%;
                    height: 18rem;
                    }
            }
            
        }
    }     
    
/* FOOTER */
footer{
    height: 28vh;
    margin-top: 3%;

    .container__titulo--3{
        color: #fff;
    }

    .container__div--redes{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        height: 10%;
        width: 100%;

        .div__item--redes{
            width: 8%;
            height:10%;
            margin: 1% 6%;

            .logo-redes{
                width: 100%;
                height: 100%;
            }
        }
    }
}
}
/* COMIENZA RESPONSIVE HASTA 1200PX */
@media(min-width:992px) and (max-width:1046px)
{

  
    a.nav-link{
        /* color:#fff; */
        /* background-color: black; */
        z-index: 10;
        font-size: 1.1rem;
    }
    
    .container--index{
        height: 100%;
        width: 100%;
        .container__div--slider{
            margin-top: 1% !important; 
            height: 17rem ;
             width: 90% ;
             margin: 1% auto;
            box-shadow: 0 5px 5px 0 #444;
            .carousel-inner{
                width: 100%;
                height: 100%;
                .img-crs{
                    // margin-top: 30%;
                    width: 100%;
                    height: 17rem;
                    }
            }
            
        }
    }     
    .container__div--noticias{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 100%;
        /* background-color: #ddd; */
        border-radius: 5px;
        

        .div__item--noticia{
            margin: 1% 5% 2% 5%;
            width: 325px;
            /* min-width: 300px; */
            height: 20%;
            /* min-height: 400px; */
            color: #000;
            box-shadow: 0 5px 5px 0 #000;
            border-radius:5px ;
          background-color: #aaa ;

            .container__div--imagen{
                width: 100%;
                height: 70%;
                border-radius: 5px;
                
                
                .foto-noticia{
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
            }
            .div__titulo--noticia{
                text-align: center;
            }
            .div__texto--noticias{
                font-size: 0.8rem;
                text-align: center;
                color: #222;
            }
        }
    }
    
        
    /* FOOTER */
    footer{
        height: 28vh;
        margin-top: 3%;
    
        .container__titulo--3{
            color: #fff;
        }
    
        .container__div--redes{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            height: 10%;
            width: 100%;
    
            .div__item--redes{
                width: 6%;
                height:8%;
                margin: 1% 6%;
    
                .logo-redes{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
@media(min-width:1047px) and (max-width:1200px){

    .container--index{
        height: 100%;
        width: 100%;
        .container__div--slider{
            margin-top: 1% !important; 
            height: 17rem ;
             width: 90% ;
             margin: 1% auto;
            box-shadow: 0 5px 5px 0 #444;
            .carousel-inner{
                width: 100%;
                height: 100%;
                .img-crs{
                    // margin-top: 30%;
                    width: 100%;
                    height: 17rem;
                    }
            }
            
        }
    }   

    .container__div--noticias{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 100%;
        /* background-color: #ddd; */
        border-radius: 5px;
        

        .div__item--noticia{
            margin: 1% 5% 2% 5%;
            width: 325px;
            /* min-width: 300px; */
            height: 20%;
            /* min-height: 400px; */
            color: #000;
            box-shadow: 0 5px 5px 0 #000;
            border-radius:5px ;
          background-color: #aaa ;

            .container__div--imagen{
                width: 100%;
                height: 70%;
                border-radius: 5px;
                
                
                .foto-noticia{
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
            }
            .div__titulo--noticia{
                text-align: center;
            }
            .div__texto--noticias{
                font-size: 0.8rem;
                text-align: center;
                color: #222;
            }
        }
    }
    
        
    /* FOOTER */
    footer{
        height: 28vh;
        margin-top: 3%;
    
        .container__titulo--3{
            color: #fff;
        }
    
        .container__div--redes{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            height: 10%;
            width: 100%;
    
            .div__item--redes{
                width: 6%;
                height:8%;
                margin: 1% 6%;
    
                .logo-redes{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
@media(min-width:1200px) and (max-width:1450px){
    .container--index{
        height: 100%;
        width: 100%;
        .container__div--slider{
            margin-top: 3% !important; 
            height: 17rem ;
             width: 90% ;
             margin: 1% auto;
            box-shadow: 0 5px 5px 0 #444;
            .carousel-inner{
                width: 100%;
                height: 100%;
                .img-crs{
                    // margin-top: 30%;
                    width: 100%;
                    height: 17rem;
                    }
            }
            
        }
    }   


    .container__div--noticias{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 100%;
        /* background-color: #ddd; */
        border-radius: 5px;
        

        .div__item--noticia{
            margin: 1% auto;
            width: 325px;
            min-width: 300px; 
            height: 20%;
            /* min-height: 400px; */
            color: #000;
            box-shadow: 0 5px 5px 0 #000;
            border-radius:5px ;
          background-color: #aaa ;

            .container__div--imagen{
                width: 100%;
                height: 70%;
                border-radius: 5px;
                
                
                .foto-noticia{
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
            }
            .div__titulo--noticia{
                text-align: center;
            }
            .div__texto--noticias{
                font-size: 0.8rem;
                text-align: center;
                color: #222;
            }
        }
    }
    
        
    /* FOOTER */
    footer{
        height: 30vh;
        margin-top: 3%;
    
        .container__titulo--3{
            color: #fff;
        }
    
        .container__div--redes{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            height: 10%;
            width: 100%;
    
            .div__item--redes{
                width: 6%;
                height:8%;
                margin: 1% 6%;
    
                .logo-redes{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}