$background : #fff; 
$shadow : 0 5px 5px 0 #333;
$border-titulo : 15px solid #000;
$height : 7.5vh;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none ; 
    font-size: 30px;
    font-family: 'Big Shoulders Display', cursive;
}
body{
    background: linear-gradient(#fff ,  #000);
    
}
// COMIENZA TITULO Y MENU
nav{
    margin: -12px 0 20px;
    height: 15vh;
    
    .container--menu{
        background-color: #fff;
        box-shadow: 0 5px 5px 0 #333;
        margin-top: auto;
    }
    .container--titulo{
        width: 100%;
        border: 15px solid #000;
        border-radius: 20px;
        padding: 0 20px;
        border-top: none;
        border-bottom: none;
        text-align: center;
    }
    .navbar-nav{
        margin-left: auto;
    }
    .nav-link{
        font-size: 1.3rem;
    }
    a.nav-link{
        /* color:#fff; */
        /* background-color: black; */
        z-index: 10;
    }
}
// INICIA INDEX
body{
    background: linear-gradient(#fff, #000);
}
.titulo-2{
    margin-top: 1.4rem;
}
.flex-container{
    margin-top: -2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 15px;

    .flex-item{
        min-width: 150px;
        max-width: 300px;
        min-height: 150px;
        max-height: 300px;
        margin: 6% 3% 6% 3%;
        border-radius: 10px;
        text-align: center;
        
        .container-imagen{
            width: 100%;
            height: 90%;
        }
        .imagen-flexbox{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
        .div-precio{
            font-size: 1.5rem;
        }
        .div-precio-blanco{
            color: #fff;
        }
    }
    .flex-item:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }
}
.pagination{
    margin: 3rem 0 0 .7rem;
}
// FOOTER
footer{
    margin-top: 5%;
    height: 30vh;
    /* background-color: #000; */
}
.titulo-3{
    color: #fff;
}

.container-redes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 10%;
    width: 100%;
}
.logo-redes{
    width: 100%;
    height: 100%;
 
    transition: 0.7s;

}
.caja-itemRedes{
    width: 4%;
    height: 4%;
    margin: 15px 55px ;
    /* background-color: #000; */
    transition: 0.4s;

}
.logo-redes:hover{
    transform: scale(1.3);
}

@media only screen and (max-width:321px){

    nav{
        margin: -12px 0 20px;
        height: 15vh;
        
        .container--menu{
            background-color: #fff;
            box-shadow: 0 5px 5px 0 #333;
            margin-top: auto;
        }
        .container--titulo{
            max-width: 300px ;
            min-width: 200px;
            border: 15px solid #000;
            border-radius: 20px;
            margin: 0 3%;
            padding: 0 20px;
            border-top: none;
            border-bottom: none;
            text-align: center;
        }
        button.navbar-toggler{
            width: 30%;
            height: 30%;
            margin: -0.3rem auto 0.5rem auto;

            span.navbar-toggler-icon{
                margin: auto -8px;
            }
        }
        .navbar-collapse{
            z-index: 100;
            height: 200%;
        }
      
        a.nav-link{
        background-color: #fff;
        border: 1px solid #999;
        color: #000;
        font-size: 1rem;
        z-index: 999;
        }
    }
    // INICIA INDEX
    .titulo-2{
        margin: 1rem auto 2rem auto
    }
    .flex-container{
        margin-top: -2rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin-bottom: 15px;
        .flex-item{
            min-width: 150px;
            max-width: 300px;
            min-height: 150px;
            max-height: 300px;
            margin: 3rem 0;
            border-radius: 10px;
            text-align: center;
        }
        .flex-item:hover{
            transform: scale(1.1);
            transition: 0.5s;
            display: none;
        }
    }
    .container-pagination{
        display: none;
    }

    // FOOTER
    footer{
        // height: 20vh;
        margin-top: 10vh;
        .titulo-3{
            color: #fff;
            }
        
            .container-redes{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            height: 10%;
            width: 100%;
            .caja-itemRedes{
                width: 10%;
                height:10%;
                margin: 1% 4%;
                .logo-redes{
                    width: 100%;
                    height: 100%;
                    }
            }
        }
        } 
}
@media (min-width: 321px) and (max-width: 390px){
nav{
    margin: -12px 0 20px;
    height: 15vh;
    
    .container--menu{
        background-color: #fff;
        box-shadow: 0 5px 5px 0 #333;
        margin-top: auto;
    }
    .container--titulo{
        max-width: 300px ;
        min-width: 200px;
        border: 15px solid #000;
        border-radius: 20px;
        margin: 0 15%;
        padding: 0 20px;
        border-top: none;
        border-bottom: none;
        text-align: center;
    }
    button.navbar-toggler{
        width: 30%;
        height: 30%;
        margin: -0.3rem auto 0.5rem auto;

        span.navbar-toggler-icon{
            margin: auto -8px;
        }
    }
    .navbar-collapse{
        z-index: 100;
        height: 200%;
    }
  
    a.nav-link{
    background-color: #fff;
    border: 1px solid #999;
    color: #000;
    font-size: 1rem;
    z-index: 999;
    }
}
.titulo-2{
    margin: 1rem auto 2rem auto
}
.flex-container{
    margin-top: -2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 15px;

    .flex-item{
        min-width: 150px;
        max-width: 300px;
        min-height: 150px;
        max-height: 300px;
        margin: 3rem 0;
        border-radius: 10px;
        text-align: center;
    }
    .flex-item:hover{
        transform: scale(1.1);
        transition: 0.5s;
        display: none;
    }
}
.container-pagination{
    display: none;
}
footer{
    // height: 20vh;
    margin-top: 15vh;
    .titulo-3{
        color: #fff;
        }
    
        .container-redes{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        height: 10%;
        width: 100%;
        .caja-itemRedes{
            width: 10%;
            height:10%;
            margin: 1% 4%;
            .logo-redes{
                width: 100%;
                height: 100%;
                }
        }
    }
 } 
}
@media (min-width: 390px) and (max-width: 480px){
    nav{
        margin: -12px 0 20px;
        height: 15vh;
        
        .container--menu{
            background-color: #fff;
            box-shadow: 0 5px 5px 0 #333;
            margin-top: auto;
        }
        .container--titulo{
            width: 100%;
            border: 15px solid #000;
            border-radius: 20px;
            margin: 0 10%;
            padding: 0 60px;
            border-top: none;
            border-bottom: none;
            text-align: center;
        }
        button.navbar-toggler{
            width: 20%;
            height: 25%;
            margin: -0.3rem auto 0.5rem auto;

            span.navbar-toggler-icon{
                margin: auto -8px;
            }
        }
        .navbar-collapse{
            z-index: 100;
            height: 200%;
        }
      
        a.nav-link{
        background-color: #fff;
        border: 1px solid #999;
        color: #000;
        font-size: 1rem;
        z-index: 999;
        }
    }
    .titulo-2{
        margin: 1rem auto 2rem auto
    }
    .flex-container{
        margin-top: -2rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin-bottom: 15px;
    
        .flex-item{
            min-width: 150px;
            max-width: 300px;
            min-height: 150px;
            max-height: 300px;
            margin: 3rem 0;
            border-radius: 10px;
            text-align: center;
        }
        .flex-item:hover{
            transform: scale(1.1);
            transition: 0.5s;
            display: none;
        }
    }
    .container-pagination{
        display: none;
    }
    footer{
        // height: 20vh;
        margin-top: 15vh;
        .titulo-3{
            color: #fff;
            }
        
            .container-redes{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            height: 10%;
            width: 100%;
            .caja-itemRedes{
                width: 10%;
                height:10%;
                margin: 1% 4%;
                .logo-redes{
                    width: 100%;
                    height: 100%;
                    }
            }
        }
        } 
}
@media(min-width:481px) and (max-width:768px){
    .container--titulo{
        width: 100%;
        border: 15px solid #000;
        border-radius: 20px;
        margin: 0 10%;
        padding: 0 40px;
        border-top: none;
        border-bottom: none;
        text-align: center;
    
    .navbar-collapse{
        z-index: 100;
        height: 200%;
    }
  
    a.nav-link{
    background-color: #fff;
    border: 1px solid #999;
    color: #000;
   }
}
.titulo-2{
    margin: 1rem auto 2rem auto
}
.flex-container{
    margin-top: -2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 15px;

    .flex-item{
        min-width: 150px;
        max-width: 300px;
        min-height: 150px;
        max-height: 300px;
        margin: 2rem 0 3rem;
        border-radius: 10px;
        text-align: center;
    }
    .flex-item:last-child{
        display: none;
     }
}

.container-pagination{
    margin-top: 30vh;
}
footer{
    // height: 20vh;
    margin-top: 15vh;
    .titulo-3{
        color: #fff;
        }
    
        .container-redes{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        height: 10%;
        width: 100%;
        .caja-itemRedes{
            width: 10%;
            height:10%;
            margin: 1% 4%;
            .logo-redes{
                width: 100%;
                height: 100%;
                }
        }
    }
    } 
}
@media(min-width:768px) and (max-width:991px){
    
    .container--titulo{
        width: 100%;
        border: 15px solid #000;
        border-radius: 20px;
        margin: 0 25px;
        padding: 0 10px;
        border-top: none;
        border-bottom: none;
        text-align: center;
    
    .navbar-collapse{
        z-index: 100;
        height: 200%;
    }
  
    a.nav-link{
        background-color: #fff;
        border: 1px solid #999;
        color: #000;
        font-size: 1rem;
        z-index: 999;
    }
}
.titulo-2{
    margin: 1rem auto 2rem auto
}
.flex-container{
    margin-top: -2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 15px;
    .flex-item{
        min-width: 150px;
        max-width: 300px;
        min-height: 150px;
        max-height: 300px;
        margin: 2rem 0.5rem 3rem;
        border-radius: 10px;
        text-align: center;
    }
    .flex-item:hover{
        transform: scale(1.1);
        transition: 0.5s;
        display: none;
    }
    .flex-item:last-child{
        display: none;
     }
}
    footer{
        // height: 20vh;
        margin-top: 15vh;
        .titulo-3{
            color: #fff;
            }
        
            .container-redes{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            height: 10%;
            width: 100%;
            .caja-itemRedes{
                width: 8%;
                height:8%;
                margin: 1% 4%;
                .logo-redes{
                    width: 100%;
                    height: 100%;
                    }
            }
        }
        } 
    }
@media (min-width: 992px) and (max-width: 1045px){
    a.nav-link{
        /* color:#fff; */
        /* background-color: black; */
        z-index: 10;
        font-size: 1rem;
    }
    .flex-container{
        margin-top: -2rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin-bottom: 15px;
        .flex-item{
            min-width: 150px;
            max-width: 300px;
            min-height: 150px;
            max-height: 300px;
            margin: 2rem 0.5rem 3rem;
            border-radius: 10px;
            text-align: center;
        }
        .flex-item:hover{
            transform: scale(1.1);
            transition: 0.5s;
            display: none;
        }
        .flex-item:last-child{
            display: none;
         }
    }
        footer{
            // height: 20vh;
            margin-top: 15vh;
            .titulo-3{
                color: #fff;
                }
            
                .container-redes{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                height: 10%;
                width: 100%;
                .caja-itemRedes{
                    width: 8%;
                    height:8%;
                    margin: 1% 4%;
                    .logo-redes{
                        width: 100%;
                        height: 100%;
                        }
                }
            }
            } 
}
@media (min-width: 1045px) and (max-width: 1200px){
    .flex-container{
        margin-top: -2rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin-bottom: 15px;
        .flex-item{
            min-width: 150px;
            max-width: 300px;
            min-height: 150px;
            max-height: 300px;
            margin: 2rem 0.5rem 3rem;
            border-radius: 10px;
            text-align: center;
        }
        .flex-item:hover{
            transform: scale(1.1);
            transition: 0.5s;
            display: none;
        }
        .flex-item:last-child{
            display: none;
         }
    }
        footer{
            // height: 20vh;
            margin-top: 15vh;
            .titulo-3{
                color: #fff;
                }
            
                .container-redes{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                height: 10%;
                width: 100%;
                .caja-itemRedes{
                    width: 8%;
                    height:8%;
                    margin: 1% 4%;
                    .logo-redes{
                        width: 100%;
                        height: 100%;
                        }
                }
            }
            } 

}